/* Configuración de la fuente para todo el documento */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Estilos para el cuerpo de la página */
body {
    padding: 0;
    margin: 0;
}


/* Asegurarse de que el HTML y el cuerpo ocupen el 100% del viewport */
html, body {
    height: 100%;
}

/* Estilos para el mapa */
#map {
    height: 100%;
}

/* Estilos para el menú */
#menu {
    position: fixed; 
    background-color: #fefefe; 
    bottom: 10px; 
    left: 20px; 
    right: 20px; 
    height: 150px; 
    z-index: 1000; 
    padding: 10px; 
    text-align: center; /* Alinear texto al centro */
    align-content: center; /* Centrar contenido verticalmente */
    align-items: center; /* Centrar elementos secundarios verticalmente */
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    font-size: x-small; 
}

/* Botón para abrir favoritos */
#openfav {
    position: absolute; 
    right: 10px; 
    top: 10px; 
}

/* Botón para abrir opciones */
#openop {
    position: absolute; 
    left: 10px; 
    top: 10px; 
}

/* Estilos para los elementos op y place */
.op, .place {
    background-color: #fefefe; 
    margin: 5px; 
    transform: translate(-50%, -50%); /* Centrar elemento */
    border-radius: 20px; 
    width: 40px; /* Ancho fijo */
    height: 40px; /* Altura fija */
    display: flex; /* Habilitar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

/* Estilos para la sección de favoritos */
#fav {
    display: flex; /* Habilitar flexbox */
    flex-direction: column; /* Establecer dirección de apilamiento vertical */
    position: fixed; 
    width: 40px;
    bottom: 170px; 
    right: 10px; 
    z-index: 500; 
}

/* Estilos para la sección de opciones */
#options {
    display: flex; /* Habilitar flexbox */
    flex-direction: column; /* Establecer dirección de apilamiento vertical */
    position: fixed; 
    width: 40px; 
    bottom: 170px; 
    left: 30px; 
    z-index: 500; 
}

/* Estilos de las busquedas */
#searchResults {
    position: fixed;
    background-color: #fefefe;
    height: 42px;
    left: 80px;
    right: 24px;
    bottom: 294px;
    border-radius: 30px;
    display: none;
}

#search {
    z-index: 1;
    border: none;
}

#searchResultsOps {
    position: absolute;
    background-color: #f1f4f7;
    left: 5px;
    right: 45px;
    top: 40px;
    z-index: 90000000000000;
    border-radius: 10px;
    display: block;
    color: gray;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Agregar scroll vertical si el contenido es demasiado largo */
    max-height: 110px; /* Remover el máximo de altura */
    height: auto; /* Establecer altura automática */
}

#searchResultsOps > div {
    padding: 10px; /* Añadir espacio entre los elementos */
    border-bottom: 1px solid #ddd; /* Añadir línea separadora entre elementos */
}

#searchResultsOps > div:last-child {
    border-bottom: none; /* Quitar la línea separadora del último elemento */
}

#searchResults2 {
    position: fixed;
    background: none;
    height: 43px;
    left: 100px;
    right: 23px;
    bottom: 292px;
    border-radius: 30px;
    display: block;
    border: none;
    overflow: scroll;
    outline: none;
}

/* Estilos de botones share y github */
#shareButton, #github {
    border: #fefefe;
    color: black;
}

/* Estilos boton noAlarms */
#noAlarms {
    position: fixed; 
    right: 30px;
    bottom: 20px;
    color: red;
}


/* Estilos para la sección de salida y destino */
#departure, #destination {
    margin-left: 7%; 
    position: relative; 
    text-align: left; 
    background-color: #f1f4f7; 
    border-radius: 10px; 
    width: 80%; 
    margin-bottom: 15px; 
    color: gray; 
    padding: 15px; 
    overflow-x: auto; /* Desplazamiento horizontal si el contenido es demasiado ancho */
    white-space: nowrap; /* Evitar que el texto se divida en múltiples líneas */
    max-height: 100px; 
}

/* Estilos para el botón de cerrar alerta de proximidad */
#proximityAlert {
    background-color: rgba(255, 255, 255, 0.9); /* White with transparency */
    color: #333; /* Text color */
    position: fixed;
    z-index: 300000;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the alert */
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
    font-weight: 500;
    text-align: center; /* Change this to left-align the text */
    font-size: x-large;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    display: none;
    flex-direction: column;
  }
  
  #closeProximityAlert {
    position: relative;
    margin-top: 20px;
    z-index: 40000000;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9); /* White with transparency */
    color: #333; /* Text color */
    font-weight: bold;
    width: 80px;
    height: 40px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    border-radius: 0%;
  }
  
  /* Hover effect for the close button */
  #closeProximityAlert:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Light grey with transparency */
  }



/* Estilos para los botones de guardado */
button {
    border-color: #272829;
    background-color: #fefefe;
    border-radius: 20px;
    margin: 2px;
    margin-top: 10px;
    font-size: x-small;
}

